/* Global variables */
:root {
  /* typography */
  --primary-font: 'Fira Sans Pro', sans-serif;
  --headline-font: 'Source Serif Pro', serif;
  --fw-1: 300;
  --fw-2: 500;
  --fw-3: 700;
  --fs-base: 1rem;

  /* colors */
  --primary-color: #2d627c;
  --secondary-color: #4f9bc4;
  --tertiary-color: #a1dbf5;
  --neutral-lt-color: #c5d1d7;
  --neutral-mid-color: #667b7b;
  --accent-color: #d06a48;

  /* helpers */
  --spacer: 1rem;
  --spacer-half: calc(var(--spacer) /2);
  --spacer-double: calc(var(--spacer) * 2);
  --border-radius: 5px;
  --shadow: 0 0 6px rgba(0, 0, 0, .4);

  /* responsive */
  --grid-cols: 1fr;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: var(--neutral-color);  used in video*/
  background-color: var(--tertiary-color);
  color: var(--neutral-mid-color);
  font-family: var(--primary-font);
  font-weight: var(--fw-1);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

h1 {
  color: var(--primary-color);
  font-family: var(--headline-font);
}

h2 {
  color: var(--secondary-color);
  font-family: var(--headline-font);
  margin-top: calc(var(--spacer) / 2);
}

p {
  margin-bottom: var(--spacer);
}

img {
  max-width: 100%;
  height: auto;
}

header {
  /* background-color: var(--tertiary-color); in video */
  background-color: var(--secondary-color);
  color: var(--neutral-lt-color);
  padding: var(--spacer-double);
}

.btn {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  color: var(--neutral-lt-color);
  cursor: pointer;
  transition: background-color .4s ease-in-out;
  text-decoration: none;
  padding: 6px 12px;
}

.btn:hover {
  background-color: var(--accent-color);
}

/* for links in text */
.btn1 {
  color: var(--neutral-mid-color);
  border-bottom: dotted 2px var(--neutral-mid-color);
  cursor: pointer;
  text-decoration: none;
}

.btn1:hover {
  color: var(--accent-color);
  border-bottom: solid 2px var(--accent-color);
  transition: background-color 1s ease-in-out;
}

/* cards styling changed from section to div to make css validator work*/
.cards {
  display: grid;  /* changed from flex so columns are even width onlarger screen using media queries*/
  /* grid-template-columns: 1fr 1fr 1fr; */
  gap: var(--spacer);
  width: 95%;
  margin: var(--spacer-double) auto;

}
.cards article {
  border: solid 1px var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--neutral-lt-color); /* not on video */
}
/* style for one card to be alternate styling changing one color via local variable */
/* .cards article.callout {
  --primary-color: var(--secondary-color);
} */

.cards h2 {
  text-align: center;
  background-color: var(--primary-color);
  color: var(--neutral-lt-color);
  margin-top: 0;
  padding: 0.25rem;
}

.cards figcaption {
  text-align: right;
  font-size: .7rem;
  font-style: italic;
  padding: 0.25rem;
}

.cards p {
  padding: var(--spacer-half) var(--spacer-half) 0;
}

.cards .btn {
  display: inline-block;
  margin: 0 0 var(--spacer) var(--spacer) ;
}

footer {
  background-color: var(--secondary-color);
  color: var(--neutral-lt-color);
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 0 .25rem;
  margin-top: auto;
}

@media screen and (min-width: 600px ) {
  .cards {
    /* video used display:flex gap and width instead of cols and grid */
     grid-template-columns: 1fr 1fr 1fr;
  }
}



















